# ignore tout par défaut
**

# sauf ces fichiers racine
!package.json
!yarn.lock
!.yarnrc.yml

# et tout le dossier .yarn (plugins, cache…)
!.yarn
!.yarn/**

# on n’a besoin que du workspace nextjs
!nextjs
!nextjs/**

# (optionnel) si vous avez assets à la racine
!public
