# ignore tout par défaut
**

# sauf ces fichiers racine / workspace nextjs
!package.json
!yarn.lock
!.yarnrc.yml
!.yarn/**

# on embarque uniquement Next.js
!nextjs
!nextjs/**

# (optionnel) public si vous l'utilisez
!public
